<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency_Blood</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        {{>navbar}}
    </header>
    <section id="contact">
        <h1 id="heading" class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="states">State:</label>
                      <select id="states" name="states">
                       <option value="RAJASTHAN">RAJASTHAN</option>
                         </select><br><br>

                </div>
                <div class="form-group">
                    <label for="district">District:</label>
                      <select id="district" name="district">
                       <option value="Ajmer">Ajmer</option>
                       <option value="Alwar">Alwar</option>
                       <option value="Banswara">Banswara</option>
                       <option value="Baran">Baran</option>
                       <option value="Barmer">Barmer</option>
                       <option value="Bharatpur">Bharatpur</option>
                       <option value="Bhilwara">Bhilwara</option>
                       <option value="Bikaner">Bikaner</option>
                       <option value="Bundi">Bundi</option>
                       <option value="Chittorgarh">Chittorgarh</option>
                       <option value="Churu">Churu</option>
                       <option value="Dausa">Dausa</option>
                       <option value="Dholpur">Dholpur</option>
                       <option value="Dungarpur">Dungarpur</option>
                       <option value="Hanumangargh">Hanumangargh</option>
                       <option value="Jaipur">Jaipur</option>
                       <option value="Jaisalmer">Jaisalmer</option>
                       <option value="Jalore">Jalore</option>
                       <option value="Jhalawar">Jhalawar</option>
                       <option value="Jhunjhunu">Jhunjhunu</option>
                       <option value="Jodhpur">Jodhpur</option>
                       <option value="Karauli">Karauli</option>
                       <option value="Kota">Kota</option>
                       <option value="Nagaur">Nagaur</option>
                       <option value="Pali">Pali</option>
                       <option value="Pratapgarh">Pratapgarh</option>
                       <option value="Rajsamand">Rajsamand</option>
                       <option value="SawaiMadhpur">SawaiMadhpur</option>
                       <option value="Sikar">Sikar</option>
                       <option value="Sirohi">Sirohi</option>
                       <option value="SriGanganager">SriGanganager</option>
                       <option value="Tonk">Tonk</option>
                       <option value="Udaipur">Udaipur</option>
                         </select><br><br>
                </div>
                <div class="form-group">
                    <button id="btn" type="submit">Search</button>
                </div>
                
            </form>
        </div>
    </section>
    
</body>
</html>