<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood-Doner-Search</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body>
    <header>
        <nav class="navbar navbar sticky-top navbar-expand-lg navbar navbar-dark bg-dark ">
            <a class="navbar-brand" href="/">Blood-Need.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://stanfordbloodcenter.org/wp-content/uploads/2018/03/0318-SouthBay-Center-Infographics_Compatibility-WEB.jpg">About</a>             
                </li>
                <li class="nav-item">
                    <a id="reg" class="nav-link" href="/main">Registration</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#contact">Contact</a>
                </li>
              </ul>
              
            </div>
          </nav>
    </header>
    <section id="contact1">
        <h1 id="heading" class="h-primary center">Search Blood-Doner
        </h1>
        <div id="contact-box">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="state">State:</label>
                      <select id="state" name="state">
                       <option value="RAJASTHAN">RAJASTHAN</option>
                         </select><br><br>

                </div>
                <div class="form-group">
                    <label for="district">District:</label>
                      <select id="district" name="district">
                       <option value="Ajmer">Ajmer</option>
                       <option value="Alwar">Alwar</option>
                       <option value="Banswara">Banswara</option>
                       <option value="Baran">Baran</option>
                       <option value="Barmer">Barmer</option>
                       <option value="Bharatpur">Bharatpur</option>
                       <option value="Bhilwara">Bhilwara</option>
                       <option value="Bikaner">Bikaner</option>
                       <option value="Bundi">Bundi</option>
                       <option value="Chittorgarh">Chittorgarh</option>
                       <option value="Churu">Churu</option>
                       <option value="Dausa">Dausa</option>
                       <option value="Dholpur">Dholpur</option>
                       <option value="Dungarpur">Dungarpur</option>
                       <option value="Hanumangargh">Hanumangargh</option>
                       <option value="Jaipur">Jaipur</option>
                       <option value="Jaisalmer">Jaisalmer</option>
                       <option value="Jalore">Jalore</option>
                       <option value="Jhalawar">Jhalawar</option>
                       <option value="Jhunjhunu">Jhunjhunu</option>
                       <option value="Jodhpur">Jodhpur</option>
                       <option value="Karauli">Karauli</option>
                       <option value="Kota">Kota</option>
                       <option value="Nagaur">Nagaur</option>
                       <option value="Pali">Pali</option>
                       <option value="Pratapgarh">Pratapgarh</option>
                       <option value="Rajsamand">Rajsamand</option>
                       <option value="SawaiMadhpur">SawaiMadhpur</option>
                       <option value="Sikar">Sikar</option>
                       <option value="Sirohi">Sirohi</option>
                       <option value="SriGanganager">SriGanganager</option>
                       <option value="Tonk">Tonk</option>
                       <option value="Udaipur">Udaipur</option>
                         </select><br><br>
                </div>
                <div class="form-group">
                    <button id="btn" type="submit">Search</button>
                </div>
                
            </form>
        </div>
    </section>
    <section class="contact" id="contact">
      <div class="max-width">
          <h2 class="title">Contact me</h2>
          <div class="contact-content">
              <div class="column left">
                  <div class="text">Get in Touch</div>
                  <p>Hello, I am Pavan Saini. I developed this awesome website. If any query regarding this website contact me.</p>
                  <div class="icons">
                      <div class="row">
                          <i class="fas fa-user"></i>
                          <div class="info">
                              <div class="head">Name</div>
                              <div class="sub-title">Pavan Saini</div>
                          </div>
                      </div>
                      <div class="row">
                          <i class="fas fa-envelope"></i>
                          <div class="info">
                              <div class="head">Phone</div>
                              <div class="sub-title">9649170366</div>
                          </div>
                      </div>
                      <div class="row">
                          <i class="fas fa-map-marker-alt"></i>
                          <div class="info">
                              <div class="head">Address</div>
                              <div class="sub-title">Chhan,Sawaimadhpur</div>
                              <div class="sub-title">RAJASTHAN</div>
                          </div>
                      </div>
                      <div class="row">
                          <i class="fas fa-envelope"></i>
                          <div class="info">
                              <div class="head">Email</div>
                              <div class="sub-title">ps9115981@gmail.com</div>
                          </div>
                      </div>
                  </div>
              </div>
              
              
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <footer>
    <div class="center1">
        Copyright &copy; www.Blood-Need.herokuapp.com. All rights reserved!
    </div>
</footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>