<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
section{
  position: absolute;
    top: 10px;
    /* bottom: -77px; */
    left: 20px;
    right: 20px;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
#bloodgroup{
    width: 150px;
    padding: 5px;
}
#states{
    width: 150px;
    padding: 5px;
}
#district{
    width: 150px;
    padding: 5px;
}
#btn{
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    margin-left: 40%;
    width: 80px;
    font-weight: bold;
    font-style: italic;
    
}
  @media(max-width: 584px){
    .container{
     max-width: 100%;
   }
   form .user-details .input-box{
       margin-bottom: 15px;
       width: 100%;
     }
     form .category{
       width: 100%;
     }
     .content form .user-details{
       max-height: 300px;
       overflow-y: scroll;
     }
     .user-details::-webkit-scrollbar{
       width: 5px;
     }
     }
     @media(max-width: 459px){
     .container .content .category{
       flex-direction: column;
     }
   }
   
    </style>
    <title>Add Blood Donor</title>
</head>
<body>
    
    <section id="contact">
        <div class="container">
            <div class="title">Registration For Blood Donation</div>
            <div class="content">
              <form  action="/main" method="POST">
                    <div class="user-details">
                        <div class="input-box">
                          <span class="details">First Name</span>
                          <input type="text" name="startname" id="startname" placeholder="Enter your name">              </div>
                          <div class="input-box">
                            <span class="details">Last Name</span>
                            <input type="text" name="lastname" id="lastname" placeholder="Enter your name">
                          </div>
                          <div class="input-box">
                            <span class="details">Phone Number</span>
                            <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                          </div>
                          
                </div>
                    
               <div class="form-group">
                    <label for="bloodgroup">Blood group:</label>
                      <select id="bloodgroup" name="bloodgroup">
                       <option value="A+">A+</option>
                       <option value="O+">O+</option>
                       <option value="B+">B+</option>
                       <option value="AB+">AB+</option>
                       <option value="A-">A-</option>
                       <option value="O-">O-</option>
                       <option value="B-">B-</option>
                       <option value="AB-">AB-</option>
                         </select><br><br>
                </div>
                <div class="form-group">
                    <label for="states">State:</label>
                      <select id="states" name="states">
                       <option value="RAJASTHAN">RAJASTHAN</option>
                         </select><br><br>
                </div>
                <div class="form-group">
                    <label for="district">District:</label>
                      <select id="district" name="district">
                       <option value="Ajmer">Ajmer</option>
                       <option value="Alwar">Alwar</option>
                       <option value="Banswara">Banswara</option>
                       <option value="Baran">Baran</option>
                       <option value="Barmer">Barmer</option>
                       <option value="Bharatpur">Bharatpur</option>
                       <option value="Bhilwara">Bhilwara</option>
                       <option value="Bikaner">Bikaner</option>
                       <option value="Bundi">Bundi</option>
                       <option value="Chittorgarh">Chittorgarh</option>
                       <option value="Churu">Churu</option>
                       <option value="Dausa">Dausa</option>
                       <option value="Dholpur">Dholpur</option>
                       <option value="Dungarpur">Dungarpur</option>
                       <option value="Hanumangargh">Hanumangargh</option>
                       <option value="Jaipur">Jaipur</option>
                       <option value="Jaisalmer">Jaisalmer</option>
                       <option value="Jalore">Jalore</option>
                       <option value="Jhalawar">Jhalawar</option>
                       <option value="Jhunjhunu">Jhunjhunu</option>
                       <option value="Jodhpur">Jodhpur</option>
                       <option value="Karauli">Karauli</option>
                       <option value="Kota">Kota</option>
                       <option value="Nagaur">Nagaur</option>
                       <option value="Pali">Pali</option>
                       <option value="Pratapgarh">Pratapgarh</option>
                       <option value="Rajsamand">Rajsamand</option>
                       <option value="SawaiMadhpur">SawaiMadhpur</option>
                       <option value="Sikar">Sikar</option>
                       <option value="Sirohi">Sirohi</option>
                       <option value="SriGanganager">SriGanganager</option>
                       <option value="Tonk">Tonk</option>
                       <option value="Udaipur">Udaipur</option>
                         </select><br><br>
                </div>
                <div class="form-group">
                    <button id="btn" type="submit">Register</button>
                 </div>
                <div class="success">
                    <p id="review"></p>
                </div>
              </form>
            </div>
          </div>   
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>