<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/src/tb.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Blood-Doner-Data</title>
      <style>
          th{ 
        color:#fff;
            }
      </style>
</head>
<body>
    <table class="table table-striped">
        <thead>
        <tr  class="bg-info">
            <th>First Name</th>
            <th>Last Name</th>
           <th>Phone Number</th>
            <th>Blood Group</th>
            
        </tr>
    </thead>
              <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.startname %></td>
                <td><%= row.lastname %></td>
                <td><%= row.phone %></td>
                <td><%= row.bloodgroup %></td>

                
            </tr>
            <%}) %>
    </table>
    </body>
</html>