<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <style>
        body{
            background: cyan;
        }
        .box{
            margin-top: 172px;        
        }
        h1{
            text-align: center;
        }
        .main{
            text-decoration: none;
            border: 2px solid black;
            text-align: center;
            font-weight: bold;
            background-color: blanchedalmond;
            font-style: italic;
            margin-left: 42%;
            margin-top: 50%;
            padding: 5px;
            color: rgb(136, 58, 58);
        }
        
    </style>
</head>
<body>
    <div class="box">
        <h1>Thanks for registration</h1>
    <div class="home">
        <a class="main" href="/">Back To Home</a>
    </div>
    </div>
    
    
</body>
</html>